// Components



.btn {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 13px 15px;
    min-width: 170px;
    border-radius: 25px;
    position: relative;
    border: none;
    text-transform: uppercase;


    box-shadow: 0px 20px 25px rgba(47, 130, 238, 0.2);

    transition: all .2s ease-in-out;
}

.page-header.sticky .btn {
    box-shadow: 0px 5px 10px rgba(47, 130, 238, 0.2);
}

.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;


    transition: all .2s ease-in-out;

    opacity: 0;
}

.btn>span {
    position: relative;
    z-index: 3;
}


.btn-icon {
    padding-right: 52px;
}

.btn-icon .btn-badge {
    position: absolute;
    z-index: 3;
    right: 6px;
    top: 50%;
    margin-top: -20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

.btn-icon .btn-badge,
.page-header.sticky .navbar-dark .navbar-toggler,
.page-header.sticky .navbar-toggler {
    color: #fff;
    background: -o-linear-gradient(left, #33ACFF 0%, #2F82EE 100%), #C4C4C4;
    background: linear-gradient(90deg, #33ACFF 0%, #2F82EE 100%), #C4C4C4;
}

.btn:hover {
    box-shadow: none;
}

.btn:hover:after {
    opacity: 1;
}


.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
    color: #001D3E;
    background: #fff;
    box-shadow: none;
}


.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus,
.btn:active {
    color: #fff;

    box-shadow: none;
}

.btn-light {
    color: #001D3E;
    background: #fff;


    box-shadow: 0px 20px 25px rgba(0, 29, 62, 0.25);
}

.btn-light:hover {
    color: #001D3E;
    background: #fff;
}


.sticky .btn-light,
.btn-primary {
    color: #fff;
    background: -o-linear-gradient(top, #2F82EE 0%, #33ACFF 100%), #FFFFFF;
    background: linear-gradient(180deg, #2F82EE 0%, #33ACFF 100%), #FFFFFF;
}

.sticky .btn-light:after,
.btn-primary:after {
    background: -o-linear-gradient(top, #33ACFF 0%, #2F82EE 100%), #FFFFFF;
    background: linear-gradient(180deg, #33ACFF 0%, #2F82EE 100%), #FFFFFF;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
    background: #ddd;
    color: rgba(0, 29, 62, .5);
}

.btn.disabled:after,
.btn:disabled:after {
    content: none;
}

.btn.disabled:hover {
    opacity: 1;
    background: #ddd !important;
    color: rgba(0, 29, 62, .85);
}


.form-group {
    position: relative;
    margin-bottom: 5px;
}

.form-group>label {
    position: absolute;
    z-index: 3;
    display: block;
    margin: 0px;
    color: #001D3E;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-family: 'Roboto', Arial, sans-serif;
    pointer-events: none;


    transition: all .2s ease-in-out;

    top: 1.5rem;
    left: 0;
}

.form-group.active label {
    opacity: .7;
    top: 0px;
}

.form-control {
    height: 50px;
    font-size: .875rem;
    line-height: 1.5rem;
    padding: 1.5rem 0 2px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #33ACFF;
    background: transparent;
    font-family: 'Roboto', Arial, sans-serif;


    transition: all .2s ease-in-out;
}

.form-control:focus {
    border-bottom: 1px solid #2F82EE;
    background: transparent;

    box-shadow: none;
}

.form-group_agree {
    margin: 25px 0 20px;
}

.custom-control-label {
    font-size: 10px;
    color: #777;
    line-height: 1.2;
    cursor: pointer;
}

.custom-control-label a {
    color: #33ACFF;
    text-decoration: underline;
}

.custom-control-label a:hover {
    text-decoration: none;
}

.custom-control-label::before {
    background: #E5E5E5;
    border-radius: 2px;
    width: 15px;
    height: 15px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
}

.custom-control-label::after {
    width: 15px;
    height: 15px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #33ACFF;
}

.custom-control-input:focus~.custom-control-label::before {

    box-shadow: none;
}

.form-control.error {
    border-color: red;
}

label.error {
    display: none !important;
}





.section {
    padding: 50px 0;
}

.section-head {
    margin: 0 0 30px;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.section-meta {
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 300;
    color: #777;
}

.section-body {
    font-weight: 300;
}

.bg-light {
    background: #FCFBFF !important;
}

.bg-primary {
    background: #33ACFF !important;
}

.fancy-modal .navbar-brand,
.page-header .navbar-brand {

    transition: all .2s ease-in-out;


    filter: brightness(0) invert(1);
}

.page-header.sticky .navbar-brand {
    filter: none;
}


.page-header {
    padding: 30px 0;


    transition: all .2s ease-in-out;
}

.navbar-brand {
    padding: 0px;
    margin: 0px;
}


.navbar-nav .nav-item {
    padding: 10px 15px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-nav .nav-link {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: .875rem;
    color: #fff;
    position: relative;
    padding: 0px;


    transition: all .2s ease-in-out;
}

.navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: 0;
    width: 0%;


    transition: all .2s ease-in-out;
}


.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover {
    color: #fff;
}


.navbar-dark .navbar-nav .active>.nav-link:after,
.navbar-dark .navbar-nav .nav-link.active:after,
.navbar-dark .navbar-nav .nav-link.show:after,
.navbar-dark .navbar-nav .show>.nav-link:after,
.navbar-nav .nav-link:hover:after {
    width: 100%;
}


.page-header.sticky {
    padding: 10px 0;
    background: #fff;


    box-shadow: 0px 20px 25px rgba(0, 29, 62, 0.25);
}

.page-header.sticky .navbar-dark .navbar-nav .nav-link,
.page-header.sticky .navbar-nav .nav-link {
    color: #001D3E;
}

.page-header.sticky .navbar-nav .nav-link:after {
    background: #001D3E;
}



.navbar-dark .navbar-toggler,
.navbar-toggler {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 1px solid #fff;
    border-radius: 50%;


    transition: all .2s ease-in-out;
}


.page-header.sticky .navbar-dark .navbar-toggler-icon,
.navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.page-header.sticky .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.navbar-dark .navbar-toggler:hover,
.navbar-toggler:hover {
    background: #fff;
}

.navbar-dark .navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 172, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}



.page-footer {
    background: #FBFBFD;
    padding-top: 50px;
}

.page-footer .navbar-brand {
    margin-bottom: 20px;
}

.page-footer__top {
    padding-bottom: 1rem;
}

.page-footer__bottom {
    border-top: 1px solid #E8E8E8;
    padding: 15px 0;
}

.copyright {
    font-size: .75rem;
    line-height: 1.5rem;
    color: #777;
}

.copyright a {
    color: #33ACFF;
    text-decoration: none;
}

.copyright a:hover {
    color: #33ACFF;
    text-decoration: underline;
}

.page-desc {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #777;
    margin-bottom: 15px;
}


.social a {
    font-size: .875rem;
    color: #333;
    text-decoration: none;
    padding: 0 10px;

    transition: all .2s ease-in-out;
}

.social a:hover {
    color: #33ACFF;
    text-decoration: none;
}

.social .list-inline-item:not(:last-child) {
    margin: 0px;
}

.page-footer .navbar-nav {
    display: block;
}

.page-footer .navbar-nav .nav-item {
    padding: 0px;
}

.page-footer .navbar-nav .nav-link {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    color: #777;
    padding: 0px;
}

.page-footer .navbar-nav .nav-link:after {
    content: none;
}

.page-footer .navbar-nav .nav-link:hover {
    color: #001D3E;
}

.page-footer__title {
    margin: 0 0 20px;
    text-transform: uppercase;
    color: #001D3E;
}

.contact {
    font-size: 1rem;
    color: #777;
}

.contact strong {
    color: #001D3E;
}

.contact-ico {
    width: 30px;
    color: #001D3E;
    flex-grow: 0;

    flex-shrink: 0;
}

.contact-ico+.contact-body {
    width: calc(100% - 30px);
}

.contact-item {
    margin-bottom: 15px;
}

.contact-body a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: #33ACFF !important;
    text-decoration: underline;
}

.link:hover {
    color: #33ACFF !important;
    text-decoration: none;
}

.intro {
    color: #fff;

    background: linear-gradient(180deg, #2F82EE 0%, #33ACFF 100%), #33ACFF;

    height: 700px;
    position: relative;
    padding: 120px 0 150px;
    overflow: hidden;
}

.intro:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    pointer-events: none;
    height: 120px;
    width: 6400px;
    background: url(../images/wave-x.svg) repeat-x;

    opacity: .5;


    transform: translate3d(0, 0, 0);

    margin-left: -680px;
}

.intro:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    pointer-events: none;
    height: 120px;
    width: 6400px;
    background: url(../images/wave-x.svg) repeat-x;
    opacity: 1;


    transform: translate3d(0, 0, 0);

    margin-left: -600px;
}


@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}




.intro .container,
.intro .row {
    height: 100%;
}

.intro-title {
    font-weight: 900;
    line-height: 4.25rem;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.intro-meta {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 0 50px;
}

.intro .btn {
    min-width: 200px;
}

.about {
    position: relative;
    z-index: 3;
}

.about .container {
    position: relative;
    z-index: 3;
}


.about-bg {
    position: absolute;
    pointer-events: none;
    left: -10%;
    top: -10%;
}

.service {
    position: relative;
    z-index: 4;
}

.service-item {
    background: #fff;
    padding: 20px 30px 30px;

    box-shadow: -1px 12px 25px rgba(119, 119, 119, 0.2);
}

.service-ico {
    height: 70px;
    margin: 0 auto 30px;
}



.service-title {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.service-body {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #777;
}


.portfolio-item {
    margin-bottom: 30px;
    height: 200px;
    overflow: hidden;
}

.portfolio-item.y-2 {
    height: 430px;
}

.portfolio-item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;


    transition: all .2s ease-in-out;
}

.portfolio-item a:before {
    content: '+';
    font-weight: 300;
    line-height: normal;
    font-size: 70px;
    color: #fff;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -50%);


    transition: all .2s ease-in-out;
}

.portfolio-item a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    opacity: 0;

    transition: all .2s ease-in-out;

    background: -o-linear-gradient(left, rgba(51, 172, 255, 0.8) 0%, rgba(47, 130, 238, 0.8) 100%);
    background: linear-gradient(90deg, rgba(51, 172, 255, 0.8) 0%, rgba(47, 130, 238, 0.8) 100%);
}

.portfolio-item a:hover:after {
    opacity: 1;
}

.portfolio-item a:hover:before {
    opacity: 1;

    transform: translate(-50%, -50%) rotate(180deg);
}

.portfolio-item img {
    width: 100%;
    height: 100%;


    object-fit: cover;


    transition: all .5s ease-in-out;
}

.portfolio-item a:hover img {

    transform: scale(1.2);
}


.blog-slider {
    position: relative;
}


.blog-item {
    padding: 0 15px 35px;
}

.card {
    border: none;
    border-radius: 0px;
    text-align: left;
    background: #fff;

    box-shadow: 0px 10px 15px rgba(0, 29, 62, 0.15);


    transition: all .2s ease-in-out;
}

.card:hover {

    box-shadow: none;
}

.card-thumb {
    height: 170px;
}

.card-thumb>a {
    display: block;
    width: 100%;
    height: 100%;
}

.card-thumb img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.card-body {
    padding: 20px 15px 20px;
}

.card-title {
    font-size: 1.125rem;
    color: #000;
    height: 52px;
    overflow: hidden;
    margin: 0 0 15px;
}

.card-title>a {
    color: inherit;
    text-decoration: none;
}

.card-title>a:hover {
    text-decoration: underline;
}

.card-text {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 300;
    color: #777;
    height: 52px;
    overflow: hidden;
    margin: 0 0 20px;
}

.card-more {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    text-decoration: underline;

    color: #33ACFF;
    display: block;
}

.card-more:hover {
    color: #33ACFF;
    text-decoration: none;
}

.subscribe {
    color: #fff;
    overflow: hidden;
    padding: 95px 0 65px;
    position: relative;
    z-index: 10;
    margin: -50px 0 -35px;
    background: url(../images/blue-bg.svg) center no-repeat;

    background-size: 100% 100%;
}

.subscribe .container {
    position: relative;
    z-index: 4;
}

.subscribe:after {
    content: '';
    background: url(../images/subscribe.svg) center no-repeat;
    position: absolute;
    width: 365px;
    height: 363px;
    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%);
}

.subscribe .container {
    position: relative;
    z-index: 3;
}

.subscribe-label {
    text-transform: uppercase;
    line-height: 30px;
    margin: 0 0 0px;
    letter-spacing: -.5px;
}

.subscribe-btn {
    display: block;
    width: 100%;
}

.subscribe .form-control {
    border-bottom: 1px solid #fff;
    height: 50px;
    padding: 13px 0;
    text-transform: uppercase;
    color: #fff;
}



.subscribe .form-control::-webkit-input-placeholder {
    color: #fff;
}

.subscribe .form-control:-moz-placeholder {
    color: #fff;
}

.subscribe .form-control::-moz-placeholder {
    color: #fff;
}

.subscribe .form-control:-ms-input-placeholder {
    color: #fff;
}



.img-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.form-title {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.form-meta {
    font-size: 1rem;
    line-height: 1.2;
    color: #777;

}

.form-head {
    margin-bottom: 10px;
}


.form-img img {
    display: block;
    position: relative;
    left: 50%;

    transform: translateX(-50%);
}







@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {

    .navbar-collapse {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 10px;
        background: #fff;
        text-align: center;


        box-shadow: 0px 20px 25px rgba(0, 29, 62, 0.25);
    }

    .navbar-collapse .navbar-nav .nav-link:focus,
    .navbar-collapse .navbar-nav .nav-link:hover,
    .navbar-collapse .nav-link:hover,
    .navbar-collapse .navbar-nav .active>.nav-link,
    .navbar-collapse .navbar-nav .nav-link.active,
    .navbar-collapse .navbar-nav .nav-link.show,
    .navbar-collapse .navbar-nav .show>.nav-link,
    .navbar-collapse .navbar-nav .nav-link {
        color: #001D3E;
    }

    .navbar-collapse .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-collapse .navbar-nav .nav-link:after {
        background: #001D3E;
    }

    .intro {
        height: auto;
        text-align: center;
    }

    .blog-slider {
        padding-left: 25px;
        padding-right: 25px;
    }

    .blog-slider .slick-prev {
        left: 0;
    }

    .blog-slider .slick-next {
        right: 0;
    }
}

@media (max-width: 767.98px) {
    .intro-title {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .section-meta,
    .intro-meta {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .subscribe {
        text-align: center;
    }

    .subscribe .form-group {
        margin-bottom: 1rem;
    }

    .portfolio-item.y-2 {
        height: 200px;
    }
}

@media (max-width: 575.98px) {

    .intro-title {
        font-size: 2rem;
    }

    .page-header .btn {
        font-size: .875rem;
        padding: 13px 10px;
        min-width: 50px;
    }

    .blog-slider {
        padding-left: 0px;
        padding-right: 0px;
    }

}