<div id="blog" class="py-5 bg-light ">
  <div class="container">
    <div class="mb-4 text-center">
      <h2 class="h2 text-uppercas mb-3">
        Blog
      </h2>
      <div class="h5 mb-0 fw-light text-secondary">
        Similarly, the scope and place of staff training require definition and clarification <br> directions of progressive development.
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="position-relative px-5">
          <div class="position-relative js-slider">
            <div class="px-3 pb-5">
              <div class="card">
                <div class="card-thumb">
                  <a href="#" class="d-block w-100 h-100">
                    <img src="<%=require('../images/blog-1.jpg')%>" alt="" class="img-full">
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="h5 mb-3 column-2">
                    <a href="#" class="text-reset text-decoration-none">
                      Web designer interview
                    </a>
                  </h5>
                  <div class="card-text">
                    Beginning daily work is an interesting developmental experiment.
                  </div>
                  <a href="#" class="card-more">
                    Read more ...
                  </a>
                </div>
              </div>
            </div>
            <div class="px-3 pb-5">
              <div class="card">
                <div class="card-thumb">
                  <a href="#" class="d-block w-100 h-100">
                    <img src="<%=require('../images/blog-2.jpg')%>" alt="" class="img-full">
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="h5 mb-3 column-2">
                    <a href="#" class="text-reset text-decoration-none">
                      Application development in a team
                    </a>
                  </h5>
                  <div class="card-text">
                    Beginning daily work is an interesting developmental experiment.
                  </div>
                  <a href="#" class="card-more">
                    Read more ...
                  </a>
                </div>
              </div>
            </div>
            <div class="px-3 pb-5">
              <div class="card">
                <div class="card-thumb">
                  <a href="#" class="d-block w-100 h-100">
                    <img src="<%=require('../images/blog-3.jpg')%>" alt="" class="img-full">
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="h5 mb-3 column-2">
                    <a href="#" class="text-reset text-decoration-none">
                      Travel as a way of life
                    </a>
                  </h5>
                  <div class="card-text">
                    Beginning daily work is an interesting developmental experiment.
                  </div>
                  <a href="#" class="card-more">
                    Read more ...
                  </a>
                </div>
              </div>
            </div>
            <div class="px-3 pb-5">
              <div class="card">
                <div class="card-thumb">
                  <a href="#" class="d-block w-100 h-100">
                    <img src="<%=require('../images/blog-4.jpg')%>" alt="" class="img-full">
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="h5 mb-3 column-2">
                    <a href="#" class="text-reset text-decoration-none">
                      How to organize your workplace
                    </a>
                  </h5>
                  <div class="card-text">
                    Beginning daily work is an interesting developmental experiment.
                  </div>
                  <a href="#" class="card-more">
                    Read more ...
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>