<div id="blog" class="blog section bg-light text-center">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">
        Blog
      </h2>
      <div class="section-meta">
        Similarly, the scope and place of staff training require definition and clarification <br> directions of progressive development.
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="blog-slider">
          <div class="blog-item">
            <div class="card">
              <div class="card-thumb">
                <a href="#">
                  <img src="<%=require('../images/blog-1.jpg')%>" alt="" class="img-fluid">
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#">
                    Web designer interview
                  </a>
                </h5>
                <div class="card-text">
                  Beginning daily work is an interesting developmental experiment.
                </div>
                <a href="#" class="card-more">
                  Read more ...
                </a>
              </div>
            </div>
          </div>
          <div class="blog-item">
            <div class="card">
              <div class="card-thumb">
                <a href="#">
                  <img src="<%=require('../images/blog-2.jpg')%>" alt="" class="img-fluid">
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#">
                    Application development in a team
                  </a>
                </h5>
                <div class="card-text">
                  Beginning daily work is an interesting developmental experiment.
                </div>
                <a href="#" class="card-more">
                  Read more ...
                </a>
              </div>
            </div>
          </div>
          <div class="blog-item">
            <div class="card">
              <div class="card-thumb">
                <a href="#">
                  <img src="<%=require('../images/blog-3.jpg')%>" alt="" class="img-fluid">
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#">
                    Travel as a way of life
                  </a>
                </h5>
                <div class="card-text">
                  Beginning daily work is an interesting developmental experiment.
                </div>
                <a href="#" class="card-more">
                  Read more ...
                </a>
              </div>
            </div>
          </div>
          <div class="blog-item">
            <div class="card">
              <div class="card-thumb">
                <a href="#">
                  <img src="<%=require('../images/blog-4.jpg')%>" alt="">
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#">
                    How to organize your workplace
                  </a>
                </h5>
                <div class="card-text">
                  Beginning daily work is an interesting developmental experiment.
                </div>
                <a href="#" class="card-more">
                  Read more ...
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>