
<div class="modal fade" id="callback" tabindex="-1" aria-labelledby="callback" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 p-0">
        <h1 class="modal-title fs-5" id="callback">&nbsp;</h1>
        <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <form class="form">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="fancy-modal__inner">
                        <div class="form-head">
                            <h4 class="form-title">
                                Оставьте заявку    
                            </h4>
                            <div class="form-meta">
                                И мы свяжемся с Вами в ближайшее время
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input type="text" name="name" id="name" class="form-control" data-rule-required="true" data-msg="Ошибка при заполнении" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="email">Ваш E-mail</label>
                            <input type="text" name="email" id="email" class="form-control" data-rule-required="true" data-msg="Ошибка при заполнении" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="phone">Ваше телефон</label>
                            <input type="text" name="phone" id="phone" class="form-control js-phone" data-rule-required="true" data-msg="Ошибка при заполнении" placeholder="">
                        </div>
                        
                        <div class="form-group form-group_agree">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="agree">
                                <label class="custom-control-label" for="agree">
                                    Я даю своё согласие на обработку моих персональных данных в соответствии с законом <a href="#">
                                        ФЗ РФ № 152 — ФЗ «О персональных данных»
                                    </a>
                                </label>
                            </div>
                        </div>
                        

                        <button type="submit" class="btn btn-primary d-block">
                            <span>Отправить заявку</span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-6 bg-primary text-center">
                    <div class="fancy-modal__inner h-100 pb-0">
                        <a class="navbar-brand" href="#">
                            <img src="<%=require('../images/logo.svg')%>" alt="ZenWeb">
                        </a>

                        <div class="form-img">
                            <img src="<%=require('../images/rocket.svg')%>" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>