<footer id="contact" class="pt-5 bg-light">
  <div class="pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-4">
          <a class="navbar-brand mb-3" href="#">
            <img src="<%=require('../images/logo.svg')%>" alt="ZenWeb">
          </a>
          <div class="fw-light text-secondary mb-3">
            <small>
              Everyday practice shows that the beginning of daily work on the formation of a position largely determines the creation of systems of mass participation.
            </small>
          </div>
          
          <ul class="list-unstyled d-flex align-items-center mb-0">
            <li class="me-3">
              <a href="#" class="text-dark">
                <small>
                  <i class="fab fa-facebook-f"></i>
                </small>
              </a>
            </li>
            <li class="me-3">
              <a href="#" class="text-dark">
                <small>
                  <i class="fab fa-twitter"></i>
                </small>
              </a>
            </li>
            <li class="me-3">
              <a href="#" class="text-dark">
                <small>
                  <i class="fab fa-behance"></i>
                </small>
              </a>
            </li>
            <li class="me-3">
              <a href="#" class="text-dark">
                <small>
                  <i class="fab fa-linkedin-in"></i>
                </small>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="d-block">
            @require('./navbarNav.html')
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="">
            <h6 class="h6 text-uppercase mb-3">
              Contact
            </h6>
            <ul class="list-unstyled mb-0">
              <li class="d-flex align-items-center mb-3">
                <div class="sz-3 me-2 flex-grow-0 flex-shrink-0 d-inline-flex align-items-center">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div>
                  <strong>Address:</strong>
                  <span class="text-secondary">11th St, New York, NY 10011, USA</span>
                </div>
              </li>
              <li class="d-flex align-items-center mb-3">
                <div class="sz-3 me-2 flex-grow-0 flex-shrink-0 d-inline-flex align-items-center">
                  <i class="fas fa-envelope"></i>
                </div>
                <div>
                  <strong>Email:</strong>
                  <a href="mailto:info@site.com" class="text-secondary text-decoration-none">info@site.com</a>
                </div>
              </li>
              <li class="d-flex align-items-center mb-3">
                <div class="sz-3 me-2 flex-grow-0 flex-shrink-0 d-inline-flex align-items-center">
                  <i class="fas fa-phone"></i>
                </div>
                <div>
                  <strong>Phone:</strong>
                  <a href="tel:+7(800)100-45-67" class="text-secondary text-decoration-none">+1 (800) 100-45-67</a>
                </div>
              </li>
              <li>
                <a data-bs-toggle="modal" data-bs-target="#callback" href="javascript:;" class="link">
                  Callback
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 text-center border-top border-gray">
    <div class="container">
      <div class="text-secondary fs-12">
        Copyright &copy; 2022 Design: <a href="#" class="text-decoration-none">ZenWeb</a>
      </div>
    </div>
  </div>
</footer>