<footer id="contact" class="page-footer">
  <div class="page-footer__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-4">
          <a class="navbar-brand" href="#">
            <img src="<%=require('../images/logo.svg')%>" alt="ZenWeb">
          </a>
          <div class="page-desc">
            Everyday practice shows that the beginning of daily work on the formation of a position largely determines the creation of systems of mass participation.
          </div>
          <div class="social">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-behance"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                About us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Service
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Portfolio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="contact">
            <h6 class="page-footer__title">
              Contact
            </h6>
            <div class="contact-list">
              <div class="contact-item">
                <div class="d-flex">
                  <div class="contact-ico">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-body">
                    <strong>Address:</strong> 11th St, New York, NY 10011, USA
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="d-flex">
                  <div class="contact-ico">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="contact-body">
                    <strong>Email:</strong> <a href="mailto:info@site.com">info@site.com</a>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="d-flex">
                  <div class="contact-ico">
                    <i class="fas fa-phone"></i>
                  </div>
                  <div class="contact-body">
                    <strong>Phone:</strong> <a href="tel:+7(800)100-45-67">+1 (800) 100-45-67</a>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <a data-fancybox data-src="#callback" href="javascript:;" class="link">
                  Callback
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-footer__bottom text-center">
    <div class="container">
      <div class="copyright">
        Copyright &copy; 2022 Design: <a href="#">ZenWeb</a>
      </div>
    </div>
  </div>
</footer>