<header class="page-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="<%=require('../images/logo.svg')%>" alt="ZenWeb">
      </a>
      <div class="collapse navbar-collapse me-lg-3" id="navbarSupportedContent">
        <ul class="navbar-nav ms-lg-auto">
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#home">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#about">
              About us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#service">
              Service
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#portfolio">
              Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#blog">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link m_PageScroll2id" href="#contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <a data-fancybox data-src="#callback" href="javascript:;" class="d-none d-sm-inline-block btn btn-light">
        <span>Callback</span>
      </a>
      <a data-fancybox data-src="#callback" href="javascript:;" class="d-sm-none btn btn-light">
        <span><i class="fas fa-phone"></i></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>