<div id="home" class="intro">
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col-lg-7">
        <div class="intro-inner">
          <h1 class="intro-title">
            We create websites that bring results
          </h1>
          <div class="intro-meta">
            Web agency The task of the organization, and in particular the new model of organizational activity, requires the definition and clarification of essential financial and administrative conditions.
          </div>
          <a data-fancybox data-src="#callback" href="javascript:;" class="btn btn-light">
            <span class="position-relative z-3">book</span>
          </a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="intro-thumb">
          <img src="<%=require('../images/intro-1.svg')%>" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>