<div id="home" class="intro position-relative overflow-hidden text-white">
  <div class="container h-100">
    <div class="row no-gutters align-items-center h-100">
      <div class="col-lg-7">
        <div class="intro-inner">
          <h1 class="display-5 text-uppercase mb-4 fw-bold">
            We create websites <br>that bring results
          </h1>
          <div class="h5 mb-5 fw-normal lh-lg">
            Web agency The task of the organization, and in particular the new model of organizational activity, requires the definition and clarification of essential financial and administrative conditions.
          </div>
          <a data-fancybox data-src="#callback" href="javascript:;" class="btn btn-light px-5">
            <span class="position-relative z-3">book now</span>
          </a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="intro-thumb">
          <img src="<%=require('../images/intro-1.svg')%>" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>