<div class="offcanvas offcanvas-start" tabindex="-1" id="navbarMainOffcanvas" aria-labelledby="navbarMainOffcanvasLabel">
  <div class="offcanvas-header p-5">
    <h5 class="offcanvas-title" id="navbarMainOffcanvasLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-5 pt-0">
    <div class="d-block">
      @require('./navbarNav.html')
    </div>

    <div class="d-none d-sm-inline-block">
      <a data-bs-toggle="modal" data-bs-target="#callback" href="javascript:;" class="btn btn-primary mt-5 px-5">
        <span class="position-relative z-3">Callback</span>
      </a>
    </div>
  </div>
</div>