<ul class="navbar-nav ms-lg-auto">
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#home">
      Home
    </a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#about">
      About us
    </a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#service">
      Service
    </a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#portfolio">
      Portfolio
    </a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#blog">
      Blog
    </a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link m_PageScroll2id" href="#contact">
      Contact
    </a>
  </li>
</ul>