<div id="portfolio" class="portfolio py-5 text-center">
  <div class="container">
    <div class="mb-4">
      <h2 class="h2 text-uppercas mb-3">
        Our work
      </h2>
      <div class="section-meta">
        Constant quantitative growth and the scope of our activity require the definition and clarification of the positions taken by the participants in relation to the tasks set.
      </div>
    </div>
    <div class="portfolio-list grid" style="--bs-rows: 2; --bs-columns: 3;">
      <div class="mb-4 g-start-1" style="grid-row-start: 1; grid-row-end: 3;">
        <a href="<%=require('../images/work-1.jpg')%>" data-fslightbox class="d-block w-100 h-100">
          <img src="<%=require('../images/work-1.jpg')%>" alt="" class="img-full">
        </a>
      </div>
      <div class="mb-4 g-start-2" style="grid-row-start: 1; grid-row-end: 2;">
        <a href="<%=require('../images/work-2.jpg')%>" data-fslightbox class="d-block w-100 h-100">
          <img src="<%=require('../images/work-2.jpg')%>" alt="" class="img-full">
        </a>
      </div>
      <div class="mb-4 g-start-3" style="grid-row-start: 1; grid-row-end: 3;">
        <a href="<%=require('../images/work-3.jpg')%>" data-fslightbox class="d-block w-100 h-100">
          <img src="<%=require('../images/work-3.jpg')%>" alt="" class="img-full">
        </a>
      </div>
      <div class="mb-4 g-start-2" style="grid-row-start: 2; grid-row-end: 3;">
        <a href="<%=require('../images/work-4.jpg')%>" data-fslightbox class="d-block w-100 h-100">
          <img src="<%=require('../images/work-4.jpg')%>" alt="" class="img-full">
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary">
          <span class="position-relative z-3">All works</span>
        </a>
      </div>
    </div>
  </div>
</div>