<div id="service" class="position-relative z-5 py-5 text-center bg-light">
  <div class="container">
    <div class="mb-4">
      <h2 class="h2 text-uppercas mb-3">
        Service
      </h2>
      <div class="section-meta">
        Everyday practice shows the role of <br> in the formation of appropriate activation conditions.
      </div>
    </div>
    <div class="row justify-content-center service-list">
      <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-ico">
            <img src="<%=require('../images/icon-1.svg')%>" alt="">
          </div>
          <h4 class="service-title">
            Design
          </h4>
          <div class="service-body">
            Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.5s">
        <div class="service-item">
          <div class="service-ico">
            <img src="<%=require('../images/icon-2.svg')%>" alt="">
          </div>
          <h4 class="service-title">
            Development
          </h4>
          <div class="service-body">
            Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.7s">
        <div class="service-item">
          <div class="service-ico">
            <img src="<%=require('../images/icon-3.svg')%>" alt="">
          </div>
          <h4 class="service-title">
            Promotion
          </h4>
          <div class="service-body">
            Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>