<div id="service" class="position-relative z-5 py-5 text-center bg-light">
  <div class="container">
    <div class="mb-4">
      <h2 class="h2 text-uppercase mb-3">
        Service
      </h2>
      <div class="h5 mb-0 fw-light text-secondary">
        Everyday practice shows the role of <br> in the formation of appropriate activation conditions.
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3 mb-lg-0">
        <div class="bg-white p-4 shadow h-100">
          <div class="h-70 mx-auto mb-4">
            <img src="<%=require('../images/icon-1.svg')%>" alt="">
          </div>
          <h4 class="h5 mb-3 text-uppercase">
            Design
          </h4>
          <div class="fw-light text-secondary">
            <small>
              Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-lg-0">
        <div class="bg-white p-4 shadow h-100">
          <div class="h-70 mx-auto mb-4">
            <img src="<%=require('../images/icon-2.svg')%>" alt="">
          </div>
          <h4 class="h5 mb-3 text-uppercase">
            Development
          </h4>
          <div class="fw-light text-secondary">
            <small>
              Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-lg-0">
        <div class="bg-white p-4 shadow h-100">
          <div class="h-70 mx-auto mb-4">
            <img src="<%=require('../images/icon-3.svg')%>" alt="">
          </div>
          <h4 class="h5 mb-3 text-uppercase">
            Promotion
          </h4>
          <div class="fw-light text-secondary">
            <small>
              Ideological considerations of a higher order, as well as consultation with a wide asset, entail the process of introducing and modernizing systems of mass participation.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>