<div id="subscribe" class="subscribe">
  <div class="container">
    <form class="form subscribe-form">
      <div class="row align-items-center">
        <div class="col-md-4">
          <h5 class="subscribe-label">
            <label for="subscribe-input">
              Subscribe to receive weekly email updates
            </label>
          </h5>
        </div>
        <div class="col-sm-7 col-md-5">
          <div class="form-group">
            <input type="text" name="subscribe-input" id="subscribe-input" class="form-control" placeholder="Your E-mail">
          </div>
        </div>
        <div class="col-sm-5 col-md-3">
          <button type="submit" class="btn btn-light btn-icon subscribe-btn">
            <span>Subscribe </span> <span class="btn-badge"><i class="fas fa-arrow-right"></i></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>